<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NG6-Starter by @AngularClass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="SEM webapp">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <base href="/">
    <script src="app/common/js/common.js"></script>
    <script>
      if (document.location.port == 63342 || document.location.port == 8011) {
        backEndUrlPrefix = "http://10.3.2.103:8080";
      }
      else backEndUrlPrefix = "";
    </script>
  </head>
  <body ng-controller="appCtrl" ng-app="app" ng-class="appService.bodyclass">

  <div  id="main-wrapper" layout="column" layout-fill>

    <header headroom id="main-navbar">

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <!--hide-gt-md-->
          <div>
            <md-button id="toogle-menu" class="md-icon-button " aria-label="Settings" ng-click="appService.toggleLeft('toggle')">
              <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
          </div>
          <a href="#/" >SEM 365</a>
          <!-- fill up the space between left and right area -->
          <span flex></span>
          <md-list>
            <md-list-item>
              <md-button href="#/" ng-class="{ 'selected': isActive('/home') }">
                <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
                Home
              </md-button>
            </md-list-item>
          </md-list>
          <md-list>
            <md-list-item>
              <md-button href="#/rubric/object:id" ng-class="{ 'selected': isActive('/home/tree') }">
                <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
                Tree
              </md-button>
            </md-list-item>
          </md-list>
          <md-list>
            <md-list-item>
              <md-button href="#/channel" ng-class="{ 'selected': isActive('/channel') }">
                <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
                Channel
              </md-button>
            </md-list-item>
          </md-list>
          <md-list>
            <md-list-item>
              <md-button href="#/device" ng-class="{ 'selected': isActive('/device') }">
                <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
                Device
              </md-button>
            </md-list-item>
          </md-list>
          <md-list>
            <md-list-item>
              <md-button href="#/device/channel" ng-class="{ 'selected': isActive('/device/channel') }">
                <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
                Channel
              </md-button>
            </md-list-item>
          </md-list>
          <md-button href="#/home/tree/charts" ng-class="{ 'selected': isActive('/home/tree/charts') }">
            <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
            Charts
          </md-button>
          <md-button ng-click="getBe()" class="md-raised  md-mini md-primary" aria-label="Use Android">
            GetBe
          </md-button>
          <a ng-click="currentActiveObj(rightItem);" ng-href="#/home/tree/charts" ><img src="assets/svg/ic_details_white_24px.svg" ></a>

        </div>
      </md-toolbar>
    </header>
    <menu-content></menu-content>

    <section layout="row" flex="">

      <toolbar-left-content></toolbar-left-content>
      <md-content  flex="" layout-padding="">
        <div class="container-fluid" >
          <cramp-component></cramp-component>
          <div class="row">
            <!--<button     ng-disabled="!appService.deleteReady" ng-click="appService.alarm(appService.deleteReady)">deleteReady</button>-->
            <div ng-view=""></div>
          </div>
        </div>
        <div flex=""></div>
      </md-content>
      <!--ng-show="currentNavItem != '/home/tree/charts' "-->
      <md-sidenav  class="md-sidenav-right md-whiteframe-4dp"  md-is-locked-open="true" md-component-id="right" style="height: calc(100vh - 64px)">

        <right-toolbar-content></right-toolbar-content>
      </md-sidenav>
    </section>
    <div id="main-menu-bg"></div>


    <!--<div  layout="column"  ng-cloak="" class="sidenavdemoBasicUsage" >-->
    <!--<section layout="row" flex=""></section>-->
    <!--</div>-->
  </div>

  </body>
</html>
